<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54055647541-kf2v8avaa785k30igntetelmv5kl3o6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54055647541-kf2v8avaa785k30igntetelmv5kl3o6r</string>
	<key>API_KEY</key>
	<string>AIzaSyCgwxJycE4MOztQblGThGYCohOJeZVrA-w</string>
	<key>GCM_SENDER_ID</key>
	<string>54055647541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gii.climateData</string>
	<key>PROJECT_ID</key>
	<string>climatedata-d3bac</string>
	<key>STORAGE_BUCKET</key>
	<string>climatedata-d3bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54055647541:ios:7572babe0ff6edd921747c</string>
</dict>
</plist>